<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="kr.basic.mybatis.RentCarMapper">
<select id="rentcarList" resultType="rentcar">
    select * from rentcar
  </select>
<select id="getOneCarInfo" resultType="rentcar" parameterType="Integer">
	select * from rentcar where num=#{num}
</select>
<select id="carListByCategory" resultType="rentcar">
	select * from rentcar where category=#{num}
</select>

<insert id="addRentcar" parameterType="rentcar">
insert into rentcar(name,category,price,usepeople,total_qty,company,img,info)
values(#{name},#{category},#{price},#{usepeople},#{total_qty},#{company},#{img},#{info})
</insert>

</mapper>

