<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="kr.basic.mybatis.UserMapper">
<select id="checkLogin" parameterType="user" resultType="Integer">
select * from user where userid=#{userid} and pwd=#{pwd}
</select>
<select id="getUserNo" parameterType="String" resultType="Integer">
select num from user where userid=#{id}
</select>
 <select id="isValidId" parameterType="String" resultType="Integer">
    SELECT pwd FROM user WHERE userid = #{id}
</select>
<insert id="userJoin" parameterType="user" >
        INSERT INTO user (name,userid,pwd,email,phone) 
        VALUES (#{name},#{userid},#{pwd},#{email},#{phone})
   </insert>
   <select id="userList" resultType="user">
   select * from user
   </select>
   <delete id="deleteUser" parameterType="integer">
   delete from user where num = #{num};
   </delete>
   
   <update id="updateUser" parameterType="map">
    UPDATE user
    SET email = #{email}, phone = #{phone}
    WHERE num = #{num}
</update>
<select id="getUserInfo" parameterType="integer" resultType="user">
select * from user where num=#{log}
</select>
</mapper>

